@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdfd;
    --background-darker: #aaa;
    --background-lighter: #ccc;
    --foreground: #3cd3ad;

    --primary: #171717;
    --primary-foreground: #000000;

    --secondary: #6f6f6f;
    --secondary-foreground: #3cd3ad;

    --muted: #a0a0a0;
    --muted-foreground: #a3a3a3;

    --accent: #d0ebff;
    --accent-foreground: #3cd3ad;

    --destructive: #ff5555;
    --destructive-foreground: #000000;

    --border: #00000012;
    --input: #a9cce3;
    --ring: #3cd3ad;

    --radius: 0.5rem;
  }

  .dark {
    --background: #171717;
    --background-darker: #111;
    --background-lighter: #303030;
    --foreground: #ffffff;

    --primary: #ededed;
    --primary-foreground: #ffffff;

    --secondary: #a0a0a0;
    --secondary-foreground: #ffffff;

    --muted: #737373;
    --muted-foreground: #a3a3a3;

    --accent: #56b2ca;
    --accent-foreground: #ffffff;

    --destructive: #ff5555;
    --destructive-foreground: #ffffff;

    --border: #282828;
    --input: #56b2ca;
    --ring: #ffffff;
  }
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  width: 100%;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

img {
  user-select: none;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  h2 {
    padding-top: 1.5rem;
  }
  p {
    line-height: 1.75rem;
  }
}
