.btn{
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .75rem;
  background: $main;
  border: none;
  transition: $transition;
  padding: .75rem 1.25rem;
  &.outline{
    color: $main;
    background: none;
    outline: .125rem solid $main;
    outline-offset: -0.125rem;
  }
  @media (forced-colors){
    outline: 1px solid transparent;
  }
}