body{
  font-family: "Inter", "Noto Sans JP", sans-serif;
}


ul{
  list-style: none;
}


a{
  text-decoration: none;
  color: $main;
}

.logo, h1, h2, h3, h4, h5, h6{
  font-family: "Rubik", sans-serif;
  color: $main;
}
h2{
  font-size: 1.875rem;
}

p{
  color: $text;
  line-height: 1.625;
}