@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes menuAnimation {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background: #FAFAFA;
}

body, button, a {
  color: #272727;
}

p {
  color: #4d4d4d;
}

:root {
  --padding-inline: 1.5rem;
}

.wrapper {
  padding: 0 var(--padding-inline);
}

section {
  scroll-margin: 5rem 0;
}

body, button {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, .section-title {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2 {
  font-size: 1.875rem;
}

ul, menu {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.625;
}

button {
  cursor: pointer;
  background: none;
  font-size: 1rem;
  border: none;
}

a.btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  border-radius: 0.75rem;
  transition: opacity 0.15s;
  padding: 0.75rem 1.25rem;
}
a.btn:not(.outline) {
  color: #fff;
  background: #272727;
}
a.btn:not(.outline):hover {
  opacity: 0.9;
}
a.btn.outline {
  box-shadow: inset 0 0 0 0.125rem #272727;
}
a.btn svg {
  font-size: 1.15rem;
  margin-left: 0.2rem;
}

.menu-btn {
  transition: 0.15s;
}
.menu-btn:hover {
  background: rgba(0, 0, 0, 0.031372549);
  border-radius: 0.25rem;
}
.menu-btn.menu-opened {
  background: rgba(0, 0, 0, 0.031372549);
}

body {
  padding-top: 5.0625rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #FAFAFA;
  border-bottom: 0.0625rem solid transparent;
  transition: border-color 0.15s;
  padding: 1rem var(--padding-inline);
}
header.page-scrolled {
  border-bottom-color: rgba(56, 56, 56, 0.1019607843);
}
header .logo {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
header menu {
  top: 3.5rem;
  right: var(--padding-inline);
  transform-origin: top right;
}
header .menu-btn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: none !important;
  padding: 0.75rem;
  margin-right: -0.75rem;
}
header .menu-btn::before, header .menu-btn::after {
  content: "";
  width: 1.125rem;
  height: 0.15rem;
  background: #272727;
}
header .menu-btn::before {
  margin-bottom: 0.375rem;
}
header .menu-btn.menu-opened::before {
  transform: rotate(-45deg);
  margin-bottom: -0.15rem;
}
header .menu-btn.menu-opened::after {
  transform: rotate(45deg);
}

footer .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.0625rem solid rgba(56, 56, 56, 0.1019607843);
  padding: 2rem 0;
}
footer .lang-btn {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
}
footer .lang-btn span {
  font-weight: 600;
  margin: 0 0.1rem 0 0.33rem;
}
footer menu {
  bottom: calc(100% - 2rem);
  left: 0.75rem;
  transform-origin: bottom left;
}
footer .social {
  display: flex;
  gap: 0.3rem;
}
footer .social a {
  box-sizing: content-box;
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0.3rem;
  transition: 0.15s;
}
footer .social a:hover {
  background: rgba(0, 0, 0, 0.031372549);
  border-radius: 0.25rem;
}

menu {
  position: absolute;
  background: #272727;
  border-radius: 0.32rem;
  padding: 0.25rem 0;
}
menu:not(.hidden) {
  animation: 0.15s menuAnimation;
}
menu.hidden {
  display: none;
}
menu li:not(:last-child) a .text-cont {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1019607843);
}
menu li a {
  display: block;
  padding: 0 0.75rem;
}
menu li a .text-cont {
  display: block;
  color: #fff;
  padding: 0.85rem 1rem 0.85rem 0.5rem;
}
menu li a .text-cont .title, menu li a .text-cont .subtitle {
  line-height: 1.4;
}
menu li a .text-cont .title {
  font-weight: 600;
}
menu li a .text-cont .subtitle {
  color: #808080;
}

.section-title {
  text-align: center;
  padding: 7rem 0;
}
.section-title h1 {
  margin-bottom: -0.15rem;
}
.section-title p {
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 500;
}

section.hero .pfp {
  display: block;
  width: 85%;
  height: auto;
  margin: 1.2rem auto 3.75rem;
}
section.hero h1 {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}
section.hero p {
  padding: 0.25rem 0 0.68rem;
}
section.hero .btn:not(.outline) {
  margin-right: 0.75rem;
}
section.hero .btn.outline polyline, section.hero .btn.outline line {
  transition: transform 0.15s;
}
section.hero .btn.outline:hover svg polyline, section.hero .btn.outline:hover svg line {
  transform: translateY(6%);
}

section.about .container {
  background: #fff;
  padding: 3.5rem 0;
}
section.about .img {
  width: 6rem;
  height: auto;
}
section.about h2:nth-of-type(1) {
  margin: 0.95rem 0 0.75rem 0;
}
section.about h2:nth-of-type(2) {
  margin: 1.2rem 0 1rem;
}
section.about .skills {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}
section.about .skills .skill {
  color: #fff;
  font-weight: 500;
  background: #999da5;
  border-radius: 0.3333333333rem;
  padding: 0.4444444444rem 0.6666666667rem;
}

section.works {
  padding-bottom: 3.5rem;
}
section.works .works {
  display: grid;
  gap: 2.25rem;
}
section.works .work {
  display: block;
  background: #fff;
  border: 0.0625rem solid rgba(56, 56, 56, 0.1019607843);
  border-radius: 1.25rem;
  transition: transform 0.15s, box-shadow 0.15s;
  padding: 1.25rem;
}
section.works .work:hover {
  box-shadow: 0 0 2.5rem rgba(201, 201, 201, 0.1490196078);
  transform: scale(1.03);
}
section.works .work img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
}
section.works .work .used {
  color: #888;
  font-size: 0.8rem;
}
section.works .work .title {
  margin: 0.35rem 0;
}/*# sourceMappingURL=index.css.map */