*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

@import "./ui/animations";
@import "./ui/colors";
@import "./ui/layout";
@import "./ui/typography";
@import "./ui/buttons";
@import "./components/header/header";
@import "./components/footer/footer";
@import "./components/menu/menu";
@import "./components/section-title/section-title";
@import "./pages/home/hero";
@import "./pages/home/about";
@import "./pages/home/works";