button{
  cursor: pointer;
  background: none;
  font-size: 1rem;
  border: none;
}

a.btn{
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  border-radius: .75rem;
  padding: .75rem 1.25rem;
  &:not(.outline){
    color: #fff;
    background: $primary;
    &:hover{
      opacity: .9;
    }
  }
  &.outline{
    box-shadow: inset 0 0 0 .125rem $primary;
  }

  svg{
    font-size: 1.15rem;
    margin-left: .2rem;
  }
}