$bg: #FAFAFA;
$primary: #272727;
$border: #3838381a;
$paragraph: #4d4d4d;
$section-title--paragraph: #aaa;
$hoverable: #00000008;

body{ background: $bg; }

body, button, a{ color: $primary; }

p{ color: $paragraph; }

@mixin hoverable{
  transition: $transition;
  border-radius: .4rem;
  &:hover{
    background: $hoverable;
  }
}