:root{
  --dvh: 100dvh;
  --padding-inline: 1.5rem;
  @media (width > 64rem){ --padding-inline: 3.75rem; }
}

.wrapper{
  max-width: calc(82.5rem + var(--padding-inline) * 2);
  padding: 0 var(--padding-inline);
  margin: 0 auto;
}

section{
  scroll-margin: 5rem 0;
}