:root{
  --padding-inline: 1.5rem;
}

// list menu
$list-menu--border-radius: .32rem;
$list-menu--padding: .25rem 0;
$list-menu--span--padding: .85rem 1rem .85rem .5rem;

.wrapper{
  padding: 0 var(--padding-inline);
}

section{
  scroll-margin: 5rem 0;
}