section.about{
  @media (max-width: 769px){
    margin-top: 4rem;
  }

  .container{
    @media (min-width: 426px){
      padding: 4rem;
    }
    @media (min-width: 769px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 0 2rem;
      padding: 4rem 5rem;
    }
    background: $light;
    border-radius: 3rem;
    padding: 3rem;
  }

  .title{
    @media (min-width: 769px){
      grid-column: 3/1;
    }
  }

  img{
    user-select: none;
    pointer-events: none;
    display: block;
    width: 6rem;
    @media (forced-colors){
      background: canvasText;
    }
  }

  h2{
    margin-top: 1.2rem;
    margin-bottom: .75rem;
  }

  .skills{
    @media (max-width: 769px){ padding-top: 2.5rem; }
    display: grid;
    gap: 1.25rem;
    &.toAnimate{
      .percentage{ left: 0 !important; }
      .progress{ width: 0 !important; }
    }
    li{
      position: relative;
      .percentage{
        position: absolute;
        bottom: 0.8125rem;
        transform: translateX(-50%);
        font-size: .7rem;
        color: #fff;
        background: $main;
        border-radius: .3rem;
        padding: .5rem;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          border: 0.1875rem solid transparent;
          border-top-color: $main;
          @media (forced-colors){
            border-color: canvas;
            border-top-color: canvasText;
          }
        }
        @media (forced-colors){
          background: canvasText;
        }
      }
      .progress-bar{
        position: relative;
        height: 10px;
        background: lighten($main, 80);
        border-radius: 100vmax;
        margin-top: .375rem;
        .progress{
          background: $main;
          border-top-left-radius: 100vmax;
          border-bottom-left-radius: 100vmax;
          height: 100%;
          @media (forced-colors){
            background: canvasText;
          }
        }
      }
      // transitions turned off
      @media(prefers-reduced-motion){
        .percentage, .progress{ transition: 0; }
      }
      // observer animation
      .percentage, .progress{ transition: $transition*2; }
    }
  }
}