section.works{
  .works{
    @media (min-width: 426px){
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
    }
    display: grid;
    gap: 2.25rem;
    padding: 5rem 0;
    
    a{
      display: flex;
      flex-flow: column;
      border: .0625rem solid #ccc;
      border-radius: 2rem;
      padding: 2rem;
      transition: $transition;
      &:hover{
        transform: scale(1.035);
        box-shadow: 0 0 35px rgb(#cacaca, .3);
      }
      .img{
        width: 5rem;
        aspect-ratio: 1/1;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: auto;
        @media (forced-colors){
          background-color: canvasText;
        }
      }
      p{
        margin-top: .75rem;
      }
    }
  }
}