section.works{
  .works{
    @media (min-width: 426px){
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    }
    display: grid;
    gap: 2.25rem;
    margin-bottom: 5rem;
    a{
      display: flex;
      flex-flow: column;
      background: #fff;
      border-radius: 1.25rem;
      padding: 1.25rem;
      transition: $transition;
      @media (forced-colors){
        outline: .0625rem solid transparent;
      }
      &:hover{
        transform: scale(1.03);
        box-shadow: 0 0 40px rgb(#cacaca, .15);
      }
      img{
        width: 100%;
        border-radius: .5rem;
      }
      .using{
        font-size: .8rem;
        color: #888;
        margin: 1rem 0 .2rem;
      }
      h3{
        margin: .1rem 0 .35rem;
      }
    }
  }
}