section.about{
  .container{
    background: #fff;
    padding: 3.5rem var(--padding-inline);

    @media (width <= 26.5625rem){
      margin: 0 calc(-1 * var(--padding-inline));
    }
    @media (width > 26.5625rem){
      border: .0625rem solid $border;
      border-radius: 3.5rem;
      padding: 3.5rem;
    }

    @media (width > 48rem){
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;
      padding: 4rem;
    }

    @media (width > 64rem){
      padding: 4rem 5rem;
    }
  }

  .img{
    width: 6rem;
    height: auto;
  }

  h2{
    &:nth-of-type(1){ margin: .95rem 0 .75rem 0; }
    &:nth-of-type(2){ margin: 1.2rem 0 1rem; }
  }

  .skills{
    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
    .skill{
      opacity: 0;
      color: #fff;
      font-weight: 500;
      background: #999da5;
      border-radius: .3333333333rem;
      transform: translateX(-2rem);
      transition: $transition;
      padding: .4444444444rem .6666666667rem;
    }
  }
}