section.hero{
  @media (width > 48rem){
    height: var(--dvh, 100vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }

  .pfp{
    display: block;
    width: 85%;
    height: auto;
    margin: 1.2rem auto 3.75rem;
    @media (26.5625rem < width <= 48rem){ width: 20rem; }
    @media (width > 48rem){
      width: 100%;
      max-width: 30rem;
      margin: 0 auto;
    }
  }

  h1{
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  }

  p{
    padding: .25rem 0 .68rem;
  }

  .btn:not(.outline){
    margin-right: .75rem;
  }

  .btn.outline{
    polyline, line{ transition: transform $transition; }
    &:hover svg{
      polyline, line{ transform: translateY(6%); }
    }
  }

  .arrow-down{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    transition: $transition;
    padding: .5rem;
    &.hidden{ opacity: 0; }
    svg{
      display: block;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}