section.works{
  padding-bottom: 3.5rem;

  .works{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 2.25rem;
  }

  .work{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 1.2rem;
    height: 100%;
    background: #fff;
    border: .0625rem solid $border;
    border-radius: 1.25rem;
    transition: transform $transition, box-shadow $transition;
    padding: 1.25rem;

    &:hover{
      box-shadow: 0 0 2.5rem #c9c9c926;
      transform: scale(1.03);
    }
    
    img{
      display: block;
      width: 100%;
      border-radius: .5rem;
    }

    .used{
      color: #888;
      font-size: .8rem;
    }

    .title{
      margin: .35rem 0;
    }
  }
}