body{
  padding-top: 5.0625rem;
}

header{
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $bg;
  border-bottom: .0625rem solid transparent;
  transition: border-color $transition;
  padding: 1rem var(--padding-inline);
  &.page-scrolled{ border-bottom-color: $border; }

  .logo{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }

  menu{
    top: 3.5rem;
    right: var(--padding-inline);
    transform-origin: top right;
  }

  .menu-btn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: none !important;
    padding: .75rem;
    margin-right: -0.75rem;
    &::before, &::after{
      content: "";
      width: 1.125rem;
      height: .15rem;
      background: $primary;
    }
    &::before{
      margin-bottom: .375rem;
    }
    &.menu-opened{
      &::before{
        transform: rotate(-45deg);
        margin-bottom: -0.15rem;
      }
      &::after{ transform: rotate(45deg); }
    }
  }
}