menu{
  position: absolute;
  background: $primary;
  border-radius: $list-menu--border-radius;
  padding: $list-menu--padding;
  &:not(.hidden){ animation: $transition menuAnimation; }
  &.hidden{ display: none; }
  li{
    &:not(:last-child) a .text-cont{ border-bottom: .0625rem solid #ffffff1a; }
    a{
      display: block;
      padding: 0 .75rem;
      .text-cont{
        display: block;
        color: #fff;
        padding: $list-menu--span--padding;
        .title, .subtitle{ line-height: 1.4; }
        .title{ font-weight: 600; }
        .subtitle{ color: #808080; }
      }
    }
  }
}