@import "tailwindcss";

* {
  border-color: var(--border);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: 0.875rem;
  user-select: none;
}
