@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #333;
  --secondary: #ededed;
  --secondary-foreground: #a1a1a1;
}

.dark {
  --background: #171717;
  --foreground: #fff;
  --secondary: #262626;
  --secondary-foreground: #737373;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: 0.875rem;
}
