@keyframes slide-in-x {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-in-y {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@layer utilities {
	.animate-slide-in-x {
		opacity: 0;
		transform: translateX(-1rem);
		animation: slide-in-x 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-x {
		opacity: 0;
		transform: translateX(1rem);
		animation: slide-in-x 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-slide-in-y {
		opacity: 0;
		transform: translateY(-1rem);
		animation: slide-in-y 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-y {
		opacity: 0;
		transform: translateY(1rem);
		animation: slide-in-y 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-slide-in-x-500 {
		opacity: 0;
		transform: translateX(-1rem);
		animation: slide-in-x 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-x-500 {
		opacity: 0;
		transform: translateX(1rem);
		animation: slide-in-x 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-slide-in-y-500 {
		opacity: 0;
		transform: translateY(-1rem);
		animation: slide-in-y 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-y-500 {
		opacity: 0;
		transform: translateY(1rem);
		animation: slide-in-y 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-slide-in-x-750 {
		opacity: 0;
		transform: translateX(-1rem);
		animation: slide-in-x 0.75s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-x-750 {
		opacity: 0;
		transform: translateX(1rem);
		animation: slide-in-x 0.75s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-slide-in-y-750 {
		opacity: 0;
		transform: translateY(-1rem);
		animation: slide-in-y 0.75s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.-animate-slide-in-y-750 {
		opacity: 0;
		transform: translateY(1rem);
		animation: slide-in-y 0.75s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}

	.animate-fade-in {
		opacity: 0;
		animation: fade-in 0.75s cubic-bezier(0.25, 1, 0.5, 1) forwards;
	}
}
